@model IEnumerable<crudweb.Models.Order>

@{
    ViewBag.Title = "Order";
}

<h2>Order List</h2>

<table class="table table-striped">
    <tr>
        <td>Order id</td>
        <td>Customer id</td>
        <td>Order Name</td>
        <td>Due Date</td>

    </tr>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.order_id</td>
                <td>@item.customer_id</td>
                <td>@item.order_name</td>
                <td>@item.due_date</td>

                <td>
                    <a href=@Url.Action("AddOrder", "Customer")><i class="fa fa-plus" style="font-size:24px"></i></a>
                    @Html.ActionLink("Edit", "Edit", new { id = item.order_id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.order_id })
                </td>
            </tr>
        }

    }
    else
    {
        <tr>
            <td><a href=@Url.Action("AddOrder", "Customer")><i class="fa fa-plus" style="font-size:24px"></i></a></td>
        </tr>
    }

</table>